<!doctype html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
        <script src="todo.js"></script>
        <link rel="stylesheet" href="todo.css">
    </head>
    <body>
      <h2>Todo</h2>
      <div ng-controller="TodoCtrl">
        <span>{{remaining()}} of {{todos.length}} remaining</span>
        [ <a href="" ng-click="archive()">archive</a> ]
        <ul class="unstyled">
          <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
            <span class="done-{{todo.done}}">
                <script type="text/javascript">
                data = new Date();
                dia = data.getDate();
                mes = data.getMonth();
                ano = data.getFullYear();

                meses = new Array(12);

                meses[0] = "Janeiro";
                meses[1] = "Fevereiro";
                meses[2] = "Março";
                meses[3] = "Abril";
                meses[4] = "Maio";
                meses[5] = "Junho";
                meses[6] = "Julho";
                meses[7] = "Agosto";
                meses[8] = "Setembro";
                meses[9] = "Outubro";
                meses[10] = "Novembro";
                meses[11] = "Dezembro";

                document.write ("Data limite da tarefa é " + dia + " de " + meses[mes] + " de " + ano);
            </script>
            </span>
          </li>
        </ul>
        <form ng-submit="addTodo()">
          <input type="text" ng-model="todoText"  size="30"
                 placeholder="add new todo here">
          <input type="date" ng-model="todoDate" placeholder="yyyy-MM-dd" required />
          <input class="btn-primary" type="submit" value="add">
        </form>
      </div>
    </body>
</html>