<!DOCTYPE html>
<html ng-app>
<head>
    <meta name="description" content="Angular Todo List">
    <meta charset=utf-8 />
    <title>TODO LIST</title>
    <script src="https://ajas.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
</head>
<body ng-controller="TodoCtrl">
    <div ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done"/>
        <input type="text"ng-model="todo.text"/>
        <a href="" ng-click="removeTodo($index)">Remover</a>
    </div>
    <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"/>
        <input type="submit"/>
    </form>
</body>
</html>