<!doctype html>
<html ng-app class="body">
    <head>
        <style type="text/css">
            .h2{
                font-size:50px;
            }
            .body{
                background-color: white;
                background-image: url("http://bigbackground.com/wp-content/uploads/2013/07/wood-desk-wallpaper.jpg");
            }
            .textarea {
                border-color: black;
                border-style: solid;
                border-width: thin;
                padding: 3px;
            }
            .button {
                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
                background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
                background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
                background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
                background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
                background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
                background-color:#ffec64;
                -moz-border-radius:9px;
                -webkit-border-radius:9px;
                border-radius:9px;
                border:1px solid #ffaa22;
                display:inline-block;
                cursor:pointer;
                color:#333333;
                font-family:arial;
                font-size:15px;
                font-weight:bold;
                padding:6px 24px;
                text-decoration:none;
            }.button:hover {
                background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
                background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
                background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
                background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
                background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
                background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
                filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
                background-color:#ffab23;
            }.button:active {
                position:relative;
                top:1px;
            }


	    .CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 0px 0px 0px #888888;
	border:1px solid #bababa;

	-moz-border-radius-bottomleft:16px;
	-webkit-border-bottom-left-radius:16px;
	border-bottom-left-radius:16px;

	-moz-border-radius-bottomright:16px;
	-webkit-border-bottom-right-radius:16px;
	border-bottom-right-radius:16px;

	-moz-border-radius-topright:16px;
	-webkit-border-top-right-radius:16px;
	border-top-right-radius:16px;

	-moz-border-radius-topleft:16px;
	-webkit-border-top-left-radius:16px;
	border-top-left-radius:16px;
            }.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
            }.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:16px;
	-webkit-border-bottom-right-radius:16px;
	border-bottom-right-radius:16px;
            }.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:16px;
	-webkit-border-top-left-radius:16px;
	border-top-left-radius:16px;
            }.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:16px;
	-webkit-border-top-right-radius:16px;
	border-top-right-radius:16px;
            }.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:16px;
	-webkit-border-bottom-left-radius:16px;
	border-bottom-left-radius:16px;
            }.CSSTableGenerator tr:hover td{
	background-color:#cccccc;
                }.CSSTableGenerator td{
	vertical-align:middle;

	background-color:#6699cc;

	border:1px solid #bababa;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:17px;
	font-size:10px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #003366 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #003366 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003f7f");	background: -o-linear-gradient(top,#003366,003f7f);

	background-color:#003366;
	border:0px solid #bababa;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #003366 5%, #003f7f 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003366), color-stop(1, #003f7f) );
	background:-moz-linear-gradient( center top, #003366 5%, #003f7f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003366", endColorstr="#003f7f");	background: -o-linear-gradient(top,#003366,003f7f);

	background-color:#003366;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
	</style>

	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
	<script src="js/todo.js"></script>
    </head>
    <body>
      <h2 class="h2" align="center">Todo List</h2>
      <span>{{remaining()}} of {{todos.length}} remaining</span>
	[ <a href="" ng-click="archive()">archive</a> ]
        <div ng-controller="TodoCtrl" class="CSSTableGenerator" >
                <table >
                    <thead>
                        <td>Open</td>
                        <td>Done</td>
                        <td>Tarefa</td>
                        <td>Data</td>
                        <td>Remover</td>
                        <td>Cima</td>
                        <td>Baixo</td>
                    </thead>
                    <tbody>
                        <ul class="unstyled">
                          <tr type="1" ng-repeat="todo in todos">

                            <td>
                                <span class="button" ng:click="todo.done = false">Open</span>
                            </td>

                            <td>
                                <span class="button" ng:click="todo.done = true">Done</span>
                            </td>

                            <!-- <input type="checkbox" ng-model="todo.done"> -->
                            <td>
                                <span class="done-{{todo.done}}">{{todo.text}}</span>
                            </td>

                            <td align="center">
                                <span class="done-{{todo.done}}">{{todo.date}}</span>
                            </td>

                            <td align="center">
                                <a class="button" ng-click = "removeTodo($index)">Remove</a>
                            </td>

                            <td align="center">
                                <a class="button" ng-click = "move($index, 'up')">Up</a>
                            </td>

                            <td align="center">
                                <a align="center" class="button" ng-click = "move($index, 'down')">Down</a>{{index}}
                            </td>

                          </tr>
                        </ul>
                    </tbody>
                </table>
        </div>

            <form ng-submit="addTodo()">
	  <input class="txtarea" type="text" ng-model="todoText"  size="138"
		 placeholder="add new todo here">
	  <input class="txtarea" type="date" ng-model="todoDate" placeholder="yyyy-MM-dd" required />
	  <input class="button" type="submit" value="add">
	</form>

    </body>
</html>