.done-true {
  text-decoration: line-through;
  color: grey;
}
div.box {
		height: 500px;
		width: 200px;
		border: 1px solid black;
		background: orange;
}
.h2{
                font-size:50px;
            }
            .textarea {
                border-color: black;
                border-style: solid;
                border-width: thin;
                padding: 3px;
            }

